.container{
display: flex;
padding: 256px;
padding-top: 128px;
padding-bottom: 128px;
border-top: 1px solid var(--black-10);
justify-content: space-between;
gap: 128px;
}

.tag{
    display: flex;
    gap: 16px;
    align-items: center;
}

.backdrop{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    width: 16px;
    height: 16px;
    fill:  var(--white);
}

@media screen and (max-width: 1600px) {
    .container{
        gap: 64px;
    }
    .header{
        font-size: 18px;
    }
    .message{
        font-size: 15px;
    }
}

@media screen and (max-width: 1500px) {
    .container{
        padding: 128px;
    }
}


@media screen and (max-width: 1200px) {
    .container{
        gap: 32px;
    }
    .header{
        font-size: 15px;
    }
    .message{
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
    }

    .header{
        font-size: 21px;
    }
    .message{
        font-size: 18px;
    }
}


@media screen and (max-width: 700px) {
    .container{
        padding: 128px 32px;
    }
}
