.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/background.jpg');
    background-position: 50% 60%;
    margin-top: -100px;
    z-index: -100;
}
.containersmall{
    background-position: 50% 50%;
    height: 200px;
}
.containermedium{
    height: 350px;
}

.containerlarge{
    height: 500px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.header{
    text-align: center;
}

.subheader{
    text-align: center;
}

.button{
 text-align: center;
 background-color: var(--primary-light);
 padding: 16px 32px;
 width: fit-content;
 color: var(--white);
 border: none;
}

@media screen and (max-width: 1100px) {
    .header{
        width: 500px;
        font-size: 30px;
    }
    .subheader{
        font-size: 24px;
        width: 500px;
    }
}


@media screen and (max-width: 700px) {
    .header{
        width: 400px;
        font-size: 30px;
    }
    .subheader{
        font-size: 24px;
        width: 400px;
    }
    .containerlarge{
        height: 100vh;
    }
}
