.container{
    border-bottom: 1px solid var(--black-20);
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.price{
    width: 200px;
}

.button{
 text-align: center;
 background-color: var(--primary-light);
 padding: 16px 32px;
 width: fit-content;
 color: var(--white);
 border: none;
}
.products{
    padding-bottom: 64px;
    overflow: hidden;
    height: 100%;
    transition: all 200ms ease-in-out;
    max-height: 500px;
}

.hidden{
    max-height: 0;
    padding-bottom: 0px;
}

