.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 128px 256px;
    gap: 64px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.categorie{
}
.productname{
}
.price{
}
.description{
}
.addcart{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.inputgroup{
    display: flex;
    flex-direction: row;
}
.inputControl{
    border: 1px solid var(--black-20);
    height: 100%;
    padding: 0 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.inputControl:first-of-type{
    border-right: 0;
}
.inputControl:last-of-type{
    border-left: 0;
}
.button{
    background-color: var(--primary-light);
    color: var(--white);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.specifications{
    grid-column: 1/3;
}
.title{
}
.list{
    margin-left: 32px;
    margin-top: 16px;
}
.listitem{
}

.mobileproductname{
    display: none;
}

@media screen and (max-width: 1200px) {
    .container{
    padding: 128px 128px;
    }
    .product{
    margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .container{
    padding: 128px 64px;
    }
}

@media screen and (max-width: 750px)  {
    .container{

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .product, .specifications{
        width: 80%;
    }

    .inputgroup{
        width: 130px;
    }
    .inputControl{
        width: 100%;
    }
    
    .mobileproductname{
        display: block;
    }
    .productname{
        display: none;
    }

    
}
